body {
    overflow: hidden;
    font-family: 'Ubuntu';
    background-color: #222222;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;  
}

/*START*/
.wrapAll {
    width: 100%;
    display: flex;
}

#mainLeft {
    background: url(../img/city.jpg) no-repeat; 
    background-size: cover;
    background-position: -100px;
    height: 100vh;
    width: 50%;
    color: #fff !important;
    position: relative;
}
#mainLeft::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(1deg, rgba(97,97,97,0.3) 0%, rgba(0,0,0,0.51) 31%, rgba(0,0,0,1) 100%);
    
}
.leftContainer {
    position: absolute;
    z-index: 999;
    width: 80%;
    height: 100%;
    left: 10%;
    
}
.title {
    padding-top: 50px
}
.photoWrap {
    width: 100%;
    
}
.myPhoto {
    background: url(../img/myPhoto.png) no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    
    
}











#mainRight {
    height: 100vh;
    width: 50%;
}